<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.blockstack.android.sdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.ConnectHowItWorksActivity"
            android:label="@string/title_activity_connect_help"
            android:parentActivityName=".ui.BlockstackConnectActivity"
            android:theme="@style/Theme.Blockstack" />

        <activity
            android:name=".ui.BlockstackConnectActivity"
            android:label="@string/title_activity_connect"
            android:theme="@style/Theme.Blockstack" />
    </application>

</manifest>